<footer>
    <p>&copy; 2024 Secure File Transfer Utility</p>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/terms_of_service">Terms of Service</a></li>
        </ul>
    </nav>
</footer>
