<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="/terms_of_service" class="nav-link px-2 text-body-secondary">Terms of Use</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
            <li class="nav-item"><a href="/use_cases" class="nav-link px-2 text-body-secondary">Use cases</a></li>
            <li class="nav-item"><a href="/how_it_works" class="nav-link px-2 text-body-secondary">How It Works</a></li>
            <li class="nav-item"><a href="/features" class="nav-link px-2 text-body-secondary">Features</a></li>
        </ul>
      <p class="text-center text-body-secondary">&copy; 2024 Secure File Transfer Utility</p>
    </footer>
</div>
