<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our file transfer service! Discover a secure and efficient solution for transferring encrypted files without the need for user accounts. Prioritizing privacy, security, and simplicity, our service utilizes robust encryption methods and ensures anonymous access. Easily accessible directly from your web browser, our service eliminates the need for additional software installations. Rest assured, we do not store the contents of your files or encryption keys, providing an extra layer of security. Learn how our service works and get in touch for any inquiries or feedback. Thank you for choosing our file transfer service!">
    <title>About the Service</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="/bs/bootstrap.min.css" rel="stylesheet">
    <script src="/jss/bootstrap/colors.js"></script>
    <script src="/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3354186740741966" crossorigin="anonymous"></script>
</head>
<body>
<%- include('partials/header') %>

<div class="container">
<h1 class="pb-2 border-bottom">About the Service</h1>


<p>Welcome to our file transfer service! We provide a secure and efficient way to transfer encrypted files between computers without the need for user accounts. Our service prioritizes privacy, security, and simplicity.</p>

<h2>Key Features</h2>

<ul>
    <li><strong>Encryption:</strong> We use robust encryption methods to ensure the security of your files during transfer.</li>
    <li><strong>Anonymous Access:</strong> No user accounts are required, ensuring your privacy and simplifying the file transfer process.</li>
    <li><strong>Browser-Based:</strong> Our service is accessible directly from your web browser, eliminating the need for additional software installations.</li>
    <li><strong>No File Storage:</strong> We do not store the contents of your files or the encryption keys, providing an extra layer of security.</li>
</ul>

<h2>How It Works</h2>

<p>Using our service is simple:</p>

<ol>
    <li>Select the file you want to transfer from your local device.</li>
    <li>Our service encrypts the file locally in your browser.</li>
    <li>Share the generated URL with the recipient.</li>
    <li>The recipient accesses the URL and decrypts the file in their browser.</li>
    <li>Once the transfer is complete, the recipient can download and save the decrypted file locally.</li>
</ol>

<h2>Developer Information</h2>

<p>Our service is developed and maintained by Private Entrepreneur Oleksii Radetskyi, based in Ukraine. For any inquiries or feedback, please contact us at <a href="mailto:oleksii.radetskyi@gmail.com">oleksii.radetskyi@gmail.com</a>.</p>

<p>Thank you for using our file transfer service!</p>
</div>
<%- include('partials/footer') %>
<script src="/bs/bootstrap.bundle.min.js"></script>

</body>
</html>
