<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive File <%= id %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>Receive File: <%= id %></h1>
    <p>On this page, you can receive a file ID which the sender has prepared for you.</p>
    <button id="receiveFileBtn">Receive File</button>
    <%- include('partials/footer') %>
</body>
</html>

